/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
 }

 html {
   background-color: #e9ebee;
 }

 .bb-logo {
   background-color: white;
   margin-right: 4px;
   width: 21px;
   height: 25px;
   color: #3b5998;
   font-size: 30px;
   text-align: center;
   padding-left: 5px;
   font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
   font-weight: 600;
   line-height: 30px;
   border-radius: 3px;
   border: 1px solid #3b5998;
 }

 .welcome-head {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#4f6ca0, #3c5d96);
    color: white;
    height: 81.5px;
    border-bottom: 1px solid #123e81;
 }

 .logo {
   margin-top: 20px;
   font-size: 38px;
   font-weight: bold;
   color: #FBFCFC;
 }

 .wh-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .welcome-foot {
    clear: both;
    color: #737373;
    background-color: white;
    font-size: 12px;
    height: 130px;
    line-height: 30px;
 }

 .foot-info {
    width: 1000px;
    margin: auto;
 }

 .foot-info p{
    padding-top: 3px;
    color: #737373;
 }

 .foot-info a{
    color: #385C97;
 }
 .login-form {
    display: flex;
    font-size: 14px;
 }

 .login-form label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }


 .login-form label input {
   border: 1px solid black;
   width: 120px;
   height: 25px;
   padding: 0 5px;
   margin-top: 5px;
   margin-right: 10px;
   background-color: white;
   font-size: 16px;
   color: black;
 }

 .login-error {
   font-size: 12px;
   height: 30px;
   max-width: 150px;
   padding: 5px;
   margin-right: 5px;
   margin-top: 5px;
   background-color: #EC3349;
   border-radius: 5px;
 }

 .posts-error {
   position: absolute;
   font-size: 14px;
   padding: 5px 10px;
   background-color: #FA686B;
   box-shadow: 2px 2px 5px #bababa;
   border-radius: 5px;
   margin-left: 170px;
 }

 .login-button {
   color: white;
   background-color: #4267b2;
   border: 1px solid #29487d;
   text-align: center;
   height: 26px;
   width: 50px;
   font-size: 12px;
   margin-left: 10px;
   margin-top: 18px;
   border-radius: 2px;
 }

 .login-button:hover {
   background-color: #2a477b;
   cursor: pointer;
 }
 .search-container {
   display: flex;
 }
 .search-bar {
   width: 400px;
   color: black;
   font-size: 20px;
   background: #fff;
   border-radius: 3px;
   border: 1px solid #3b5998;
 }

 .search-bar > input {
   padding-left: 7px;
   font-size: 14px;
   width: 395px;
 }

 .search-button{
    cursor: pointer;
    background-color: #F5F6F7;
    width: 50px;
    height: 25px;
    margin-left: -10px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #3b5998;
    border-left: none;
 }
 .search-button:hover{
    background-color: #3578E5;
 }

 .search-icon {
   width:20px;
   height:20px;
   background-image: url("search.png");
   background-repeat: no-repeat;
   background-size: 14px 14px;
   margin-top: 6px;
   margin-left: 16px;
 }

 .content-item  {
   border: 1px solid #ccc;
   border-radius: 2px;
   background-color: #fff;
   box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .1);
   margin-bottom: 10px;
   position: relative;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

 .logout-button {
   color: #FBFCFE;
   background-color: #4e70b6;
   border: 1px solid #325aa3;
   border-radius: 3px;
   text-align: center;
   font-size: 12px;
   border-radius: 2px;
   width: 60px;
   padding: 5px 0px;
 }

 .logout-button:hover {
   background-color: #365A9D;
   cursor: pointer;
 }

 input[type="file"] {
   display: none;
}
 .custom-file-upload {
   font-size: 14px;
   font-weight: bold;
   border-radius: 14px;
   background-color: #F2F3F4;
   padding: 6px 12px;
   cursor: pointer;
   margin-left: 10px;
}

.custom-file-upload:hover {
  background-color: #A9F3A9;
  cursor: pointer;
}

 .post-button {
   color: white;
   background-color: #4267b2;
   padding: 6px 25px;
   border-radius: 14px;
   font-size: 14px;
   margin-left: 354px;
 }

 .post-button:hover {
   background-color: #2a477b;
   cursor: pointer;
 }
 .wel-container {
   background-color: #edf0f5;;
 }

 .welcome-body {
   width: 1000px;
   margin: 0 auto;
   display: flex;
   padding-bottom: 50px;
   height: 600px;
 }
 .signup-container {
   display: block;
   width: 450px;
 }

 .left-login {
   display: block;
   font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
   width: 550px;
 }

 .left-login h2{
   padding-top: 12%;
   padding-bottom: 20px;
   font-size: 26px;
   font-weight: bold;
   color: #333333;
   width: 420px;
 }

 .left-login strong {
   font-weight: bold;
   color: #333333;
   font-size: 18px;
 }

 .left-login > li{
   font-size: 16px;
   color: #666666;
   display: flex;
   align-items: center;
   margin-top: 26px;
 }

 .signup_form {
   display: flex;
   flex-direction: column;
   color: black;
   font-size: 26px;
   font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
   letter-spacing: normal;
   text-rendering: optimizelegibility;
 }

 .signup-error {
   position: relative;
   color: white;
   font-size: 13px;
   height: 50px;
   width: 235px;
   text-align: center;
   bottom: 50px;
   left: 210px;
   line-height: 50px;
   background-color: #EC3349;
   border-radius: 5px;
 }

 .signup_form > h2{
   padding-top: 5%;
 }

 .signup_form > h6{
   font-size: 18px;
   margin-top: 3px;
   margin-bottom: 20px;
   color: #333333;
   font-weight: normal;
 }

 .signup_form > input {
   background-color: white;
   font-size: 22px;
   border-color: #BDC7D8;
   border-radius: 5px;
   border: 1px #bec8d7 solid;
   height: 40px;
   padding: 0 5px;
   margin-top: 10px;
 }

 select {
   margin-top: 10px;
   height: 30px;
   width: 100px;
   font-size: 20px;
 }

 .signup-button {
   font-size: 24px;
   font-weight: bold;
   height: 50px;
   width: 200px;
   text-align: center;
   background-color: #69A74E;
   background-image: linear-gradient(#67ae55, #578843);
   box-shadow: inset 0 1px #A4E388;
   border-radius: 5px;
   color: #FFF;
   cursor: pointer;
   border: 1px solid black;
   margin-top: 20px;
 }


 #upload-image {
    position: relative;
    width: 64px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    height: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 5px;
 }

 .left-side {
    position: fixed;
    display: flex;
    color: #1D2129;
    flex-direction: column;
 }

  .left-side i{
    color: #0077b5;
    font-size: 22px;
   }

 .left-side li{
    display: flex;
    align-items: center;
    width: 180px;
    border: 1px solid transparent;
 }

 .left-side li:nth-child(1){
   margin-bottom: 10px;
 }


 .left-side >li:nth-child(2) {
   background-color: #F5F6F7;
   font-weight: bold;
   background-origin: content-box;
   border: 1px solid #e9ebee;
   border-radius: 2px;
 }

  .left-side li:hover {
    background-color: #F5F6F7;
    cursor: pointer;
    background-origin: content-box;
    border: 1px solid #e9ebee;
    box-sizing: border-box;
    border-radius: 2px;
  }

  .left-side label{
    font-size: 13px;
    line-height: 24px;
    margin-left: 6px;
    white-space: nowrap;
  }

  .left-side label:hover{
    cursor: pointer;
  }

 .right-side {
   position: fixed;
   display: flex;
   flex-direction: column;
 }

 .card {
   background-color: white;
   width: 292px;
   border-radius: 3px;
   border: 1px solid #dfe1e5;
   font-size: 14px;
   margin-bottom: 10px;
 }

 .card-footer {
   padding-left: 12px;
   padding-bottom: 10px;
   color: navy;
 }

 .card-title span {
   margin-left: 10px;
   margin-top: 5px;
   color: #616770;
   font-size: 13px;
   font-weight: bold;
 }

 .weather-body p {
   position: relative;
   padding: 5% 10%;
   text-align: center;
   text-transform: capitalize;
 }

 .card-title {
   display: flex;
   margin-bottom: 2px;
 }

 .weather-body {
   display: flex;
   flex-direction: column;
   padding: 0 5%;
   background-image: linear-gradient(#3b5bdb,#59b6e6);
 }

 .weather-show {
   display: flex;
 }

 .weather-show > img{
   padding: 5% 5%;
   flex-grow: 1;
 }

 .temp {
   padding: 10% 5% 5% 5%;
   flex-grow: 1;
 }

 .temp h1 {
   font-size: 46px;
 }

 .temp span {
   font-size: 14px;
 }

 .ad-body {
   display: flex;
   background-color: pink;
 }

 h2 > i {
   color: black;
   font-size: 12px;
   margin: 5px;
 }

 i {
   color: #8abd53;
   font-size: 16px;
 }

 .new-post-form {
    background-color: white;
    width: 528px;
    padding-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #dfe1e5;
 }

  .new-post-form textarea {
    width: 96%;
    height: 80px;
    resize: none;
    font-size: 16px;
    border-bottom: 1px solid #dfe1e5;
    margin: 5px -23px 5px 10px;
  }

  .new-post-form > h2 {
    font-size: 13px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    padding: 9px 7px;
    color: #4b4f56;
  }

  .new-post-form img {
    height: 75px;
    width: 100px;
    margin-top: 4px;
    border: 1px solid #dfe1e5;
    object-fit: contain;
  }

  .new-post-body {
    display: flex;
  }

  .single-post {
    background-color: white;
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 528px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #dfe1e5;
    font-size: 16px;
    overflow: hidden;
  }

  .single-post img {
    width: 528px;
    margin-bottom: 5px;
  }

  .post-header {
    display: flex;
    margin: 10px 12px;
  }

  .avatar {
    font-size: 38px;
    margin-right: 10px;
  }

  .avatar i {
    color: gray;
  }

  .post-info{
    color: #385898;
    font-size: 14px;
  }
  .post-info > ul:nth-child(1) {
    font-weight: bold;
    margin-top: 5px;
  }
  .post-info > ul:nth-child(1):hover {
    text-decoration: underline;
  }

  .post-info > ul:nth-child(2) {
    color: #616770;
    font-size: 12px;
    margin-top: 2px;
  }
  .post-content ul{
    font-size: 14px;
    color: #1C1E21;
    margin: 10px 12px;
  }

  .nav-bar {
    display: flex;
    width: 1013px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .nav-left {
    display: flex;
    align-items: center;
  }
  .nav-right {
    display: flex;
    align-items: center;
  }

  .user-link{
    color: white;
    font-size: 12px;
    line-height: 30px;
    font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
  }

  .user-link > i {
   color: white;
   font-size: 22px;
  }

  .user-link2 {
    display: flex;
  }

  .user-link2:hover {
    background-color: #365A9D;
    border-radius: 3px;
    cursor: pointer;
  }
  .user-link2 > i {
    color: white;
    font-size: 24px;
  }

   .dd-text {
    color: #FBFCFE;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    padding: 6px 8px;
    margin: 0px 4px;
   }

   .dd-text:hover {
     background-color: #365A9D;
     border-radius: 3px;
     cursor: pointer;
   }
   .like-comment-share {
     display: flex;
     padding: 0 10px;
     border-bottom: 1px solid #dfe1e5;
     margin-bottom: 10px;
   }

  .like-comment-share > a{
    color: #606E87;
    font-size: 20px;
    flex: 1;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
 }

 .like-comment-share > a:hover {
   background-color: #F2F3F1;
   cursor: pointer;
 }

 .like-comment-share > a:active {
   color: #3578E5;
   cursor: pointer;
 }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #4267b2;
    border-bottom: solid 1px #29497f;
    height: 42px;
    color: white;
    z-index: 1;
  }

  .mainpage-body {
    display: flex;
    width: 1013px;
    margin: 0 auto;
    margin-top: 54px;
  }

  .mainpage-content {
    margin-right: 10px;
    margin-left: 190px;
  }

  .profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
    height: 388px;
    border: 1px solid #A2A3A3;
    background-color: white;
  }

  .profile-image > img:nth-child(1) {
    width: 930px;
    height: 345px;
    object-fit: cover;
  }

  .profile-image > img:nth-child(2) {
    position: relative;
    width: 180px;
    height: 180px;
    top: -160px;
    left: 20px;
    border: 4px solid white;
    border-radius: 100px;
  }

  .profile-image > h4 {
    position: relative;
    top: -270px;
    left: 230px;
    font-size: 24px;
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  }

  .profile-name {
    position: relative;
    top: -240px;
    padding-left: 230px;
  }

  .profile-name > li {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  }

  .profile-navbar {
    display: flex;
    position: relative;
    top: -224px;
    height: 43px;
    padding-left: 247px;
  }

  .profile-navbar > li {
    display: flex;
    align-items: center;
    color: #365898;
    font-weight: bold;
    font-size: 14px;
    padding: 0 20px;
    border-right: 1px #e9eaed solid;
    cursor: pointer;
  }

  .profile-navbar li:hover {
    background-color: #f5f6f7;;
  }

  .profile-body {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 933px;
    margin-top: 15px;
  }

  .profile-info {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .user-intro {
    background-color: white;
    width: 370px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #dfe1e5;
  }

  .user-intro > i {
    display: flex;
    color: #4267b2;
    font-size: 24px;
  }

  .user-intro > i > p{
    color: #1C1E21;
    font-size: 18px;
    line-height: 26px;
  }

  .user-intro > p {
    margin: 10px;
    font-size: 13px;
    color: #515755;
  }
  .user-intro p:nth-child(2) {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }
  .user-intro p:nth-child(3) {
    border-top: 1px solid #e9eaed;
    padding-top: 10px;
  }

  .search-results{
    width: 440px;
    position: absolute;
    margin-top: 25px;
  }

  .search-result{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
  }

  .selected {
    background-color: #cddffd;
  }

  .search-result:hover {
    background-color: #cddffd;
    cursor: pointer;
  }

  .search-result-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 0 5px 8px;
    font-weight: 500;
    color: #333333;
  }

  .search-result-content:hover {
    background-color: #cddffd;
    cursor: pointer;
  }
  .search-result-content p{
    padding-left: 10px;
  }

  .dd-icon {
    display: flex;
    font-size: 0px;
    width: 32px;
    height: 26px;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  .dd-icon:hover{
    cursor: pointer;
    opacity: 1;
  }

  .dd-icon:focus{
    color: white;
    background-color: white;
  }

  .friends {
    background-image: url("dd-icons.png");
    background-size: auto;
    background-position: 5px -316px;
  }

  .friends:hover{
    background-position: 5px -338px;
  }

  .messages {
    background-image: url("dd-icons.png");
    background-size: auto;
    background-position: 5px -40px;
  }

  .messages-w {
    background-image: url("dd-icons.png");
    background-size: auto;
    background-position: 5px -66px;
  }

  .alert {
    background-image: url("dd-icons.png");
    background-size: auto;
    background-position: 5px -91px;
  }

  .alert-w {
    background-image: url("dd-icons.png");
    background-size: auto;
    background-position: 5px -116px;
  }

  .questions {
    background-image: url("dd-icons.png");
    background-size: auto;
    background-position: 5px -991px;
  }

  .questions-w {
    background-image: url("dd-icons.png");
    background-size: auto;
    background-position: 5px -966px;
  }

  .icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: 55px 55px;
  }

  .left-icon {
    display: flex;
    width: 22px;
    height: 22px;
    margin-top: 3px;
  }

  .profile-icon {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 10px;
  }

  .profile-icon p {
    margin-left: 32px;
    line-height: 26px;
    color: #1C1E21;
  }

  .ll{
    margin-left: 2px;
  }

  .globe {
    background-image: url("profile-icons.png");
    background-position: 0px -24px;
  }

  .photo {
    background-image: url("profile-icons.png");
    background-position: 0px 0px;
  }

  .newsfeed {
    background-image: url("feed-icons.png");
    background-position: 2px -757px;
  }

  .messenger {
    background-image: url("feed-icons.png");
    background-position: 2px -169px;
  }

  .video {
    background-image: url("feed-icons.png");
    background-position: 2px -1177px;
  }

  .marketplace {
    background-image: url("feed-icons.png");
    background-position: 2px -713px;
  }

  .weather {
    background-image: url("feed-icons.png");
    background-position: 2px -1073px;
  }
  .play {
    background-image: url("feed-icons.png");
    background-position: 2px -232px;
  }
  .update {
    background-image: url("updates.png");
  }
  .news {
    background-image: url("news.png");
  }
  .more {
    background-image: url("more.png");
  }

  .cas {
    background-image: url("cas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .aquarium {
    background-image: url("aquarium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .legoland {
    background-image: url("legoland.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .kidspace {
    background-image: url("kidspace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .zoo {
    background-image: url("zoo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .disney {
    background-image: url("disney.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .fineprint {
    font-family: 'Freight Sans';
    margin-top: 12px;
    font-size: 12px;
    color: #7a7a7a;
    width: 340px;
  }

  hr {
    height: 1px;
    background-color: #dddfe2;
    border: none;
  }

  .explore {
    font-weight: bold;
    color: #616770;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .album {
    display: flex;
    flex-wrap: wrap;
  }

  .album-ad {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 8px;
  }

  .single-photo {
    width: 31%;
    height: 114px;
    border: 3px solid white;
    border-radius: 2px;
  }

  .single-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .advert {
    width: 47%;
    height: 120px;
    opacity: 0.8;
  }

  .advert:hover {
    opacity: 1;
    cursor: pointer;
  }

  .advert p {
    text-align: center;
    padding-left: 2px;
    padding-bottom: 4px;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: black;
    opacity: 0.5;
  }

  .sentinels-1 {
    color: #e9ebee;
  }

  .modal {
    position: absolute;
    top: 22px;
    font-size: 12px;
    color: #1C1E21;
    left: 64px;
    width: 400px;
    height: 130px;
    z-index: 2;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  }

  .modal-from {
    position: relative;
    top: -8px;
    left: 120px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
  }
  .modal-header {
    font-weight: bold;
    background-clip: padding-box;
    background-color: #fff;
    border-bottom: solid 1px #dddfe2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 6px 12px 10px;
    position: relative;
  }

  .modal-body {
    background-color: #f5f6f7;
    color: #90949C;
    padding: 8px 12px 6px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dfe1e5;
  }

  .modal-footer {
    color: #385898;
    font-weight: bold;
    padding: 8px 12px 6px;
    text-align: center;
    vertical-align: middle;
  }

  .comment-form {
    display: flex;
    height: 50px;
    margin: 10px 10px 5px;
  }
  .comment-form label {
    line-height: 50px;
    padding-left: 15px;
  }
  .comment-form p {
    position: absolute;
    margin-top: 35px;
    margin-left: 46px;
    font-size: 9px;
    color: #90949C;
  }

  .comment-form i {
    color: #8D949E;
    font-size: 30px;
    vertical-align: middle;
  }

  .comment-form input{
    font-size: 13px;
    width: -webkit-fill-available;
    margin-left: 5px;
    padding-left: 10px;
    height: 30px;
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
  }

  .single-comment {
    display: flex;
    line-height: 32px;
    margin: 10px 10px 5px;
  }

  .single-comment > i {
    color: #8D949E;
    font-size: 30px;
    vertical-align: middle;
  }

  .comment-body {
    display: flex;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
  }

  .comment-body i {
    line-height: 32px;
  }

  .comment-body p {
    padding-left: 5px;
    color: #1C1E21;
  }
  .comment-body label {
    color: #385898;
    white-space: nowrap;
  }
