/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
 }

 img {
  width: 600px;
 }

 html {
  background-color: #edf0f5;
 }

 textarea {
 }

 .bb-logo {
   background-color: white;
   min-width: 25px;
   height: 30px;
   color: #3b5998;
   margin-right: 10px;
   font-size: 26px;
   text-align: center;
   padding-left: 5px;
   font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
   border-radius: 2px;
   font-weight: bold;
 }

.welcome-head {
  background-color: rgb(60,90,153,1);
  height: 80px;
  color: white;
  font-size: 42px;
  font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
 }

 .welcome-head a {
   min-width: 400px;
   font-weight: bold;
 }

 .wh-container {
  width: 1000px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
 }

 .welcome-foot {
   clear: both;
   color: #1E90FF;
   background-color: white;
   text-align: center;
   font-size: 22px;
   height: 50px;
   line-height: 50px;
   margin-top: -50px;
 }

 .login-form {
   font-size: 18px;
   min-width: 550px;
   float: right;
   padding-top: 12px;
 }

 .login-form > label > input {
   border: 1px solid black;
   width: 100px;
   height: 25px;
   padding: 0 5px;
   margin-left: 5px;
   margin-right: 20px;
   background-color: white;
   font-size: 16px;
   color: black;
 }

 .login-error {
   position: absolute;
   font-size: 15px;
   height: 30px;
   max-width: 200px;
   padding: 10px;
   top: 18px;
   right: 3%;
   background-color: #EC3349;
   border-radius: 5px;
 }

 .posts-error {
   position: absolute;
   font-size: 20px;
   padding: 10px;
   left: 200px;
   bottom: 2px;
   background-color: #FA686B;
   box-shadow: 2px 2px 5px #bababa;
   border-radius: 5px;
 }

 .login-button {
   color: white;
   background-color: #4267b2;
   border: 1px solid #2a477b;
   text-align: center;
   height: 26px;
   width: 56px;
   font-size: 14px;
   margin-right: 10px;
   border-radius: 2px;
 }

 .login-button:hover {
   background-color: #2a477b;
   cursor: pointer;
 }

 .search-bar {
   width: 500px;
   height: 30px;
   color: black;
   margin-right: 430px;
   font-size: 22px;
   background: #fff;
   border-radius: 3px;
 }

 .search-bar > input {
   font-size: 22px;
   line-height: 36px;
   padding-left: 6px;
 }

 .content-item  {
   border: 1px solid #dddfe2;
   border-radius: 3px;
   background-color: #fff;
   margin-bottom: 10px;
   position: relative;
  }

  .dropdown {
    position: relative;
  }

 .logout-button {
   color: white;
   background-color: #4267b2;
   border: 1px solid #2a477b;
   text-align: center;
   height: 30px;
   min-width: 70px;
   font-size: 14px;
   border-radius: 5px;
 }

 .logout-button:hover {
   background-color: #2a477b;
   cursor: pointer;
 }

 input[type="file"] {
   display: none;
}
 .custom-file-upload {
   border: 1px solid #ccc;
   font-size: 20px;
   font-weight: bold;
   border-radius: 10px;
   background-color: #F2F3F4;
   padding: 6px 12px;
   cursor: pointer;
   margin-left: 60px;
   margin-right: 300px;
}

.custom-file-upload:hover {
  background-color: #A9F3A9;
  cursor: pointer;
}

 .post-button {
   position: relative;
   color: white;
   background-color: #4267b2;
   border: 1px solid #2a477b;
   padding: 6px 25px;
   border-radius: 10px;
   height: 22px;
   width: 50px;
   font-size: 20px;
   text-align: center;
 }

 .post-button:hover {
   background-color: #2a477b;
   cursor: pointer;
 }
 .wel-container {
   background-color: #edf0f5;;
 }

 .welcome-body {
   width: 1000px;
   margin: 0 auto;
   display: flex;
   padding-bottom: 50px;
   height: 90vh;
 }
 .signup-container {
   display: block;
   width: 450px;
 }

 .left-login {
   display: block;
   font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
   color: black;
   font-size: 20px;
   width: 550px;
 }

 .left-login > h2{
   padding-top: 10%;
 }

 .left-login > h3{
   padding-top: 10px;
 }

 .left-login > li{
   padding-left: 3%;
   padding-right: 8%;
   padding-top: 20px;
 }

 .signup_form {
   display: flex;
   flex-direction: column;
   color: black;
   font-size: 26px;
   font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
   letter-spacing: normal;
   text-rendering: optimizelegibility;
 }

 .signup-error {
   position: relative;
   color: white;
   font-size: 18px;
   height: 30px;
   max-width: 230px;
   text-align: center;
   bottom: 50px;
   left: 160px;
   padding: 10px;
   background-color: #EC3349;
   border-radius: 5px;
 }

 .signup_form > h2{
   padding-top: 10%;
 }

 .signup_form > h4{
   font-size: 22px;
 }

 .signup_form > input {
   background-color: white;
   font-size: 22px;
   border-color: #BDC7D8;
   border-radius: 5px;
   border: 1px solid black;
   width: 400px;
   height: 40px;
   padding: 0 5px;
   margin-top: 10px;
 }

 select {
   margin-top: 10px;
   height: 30px;
   width: 100px;
   font-size: 20px;
 }

 .signup-button {
   font-size: 24px;
   font-weight: bold;
   height: 50px;
   width: 150px;
   text-align: center;
   background-color: #69A74E;
   box-shadow: inset 0 1px #A4E388;
   border-radius: 5px;
   color: #FFF;
   cursor: pointer;
   border: 1px solid black;
   margin-top: 20px;
 }


 #upload-image {
  position: relative;
  width: 64px;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  height: 20px;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 5px;
 }

 .left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 20px;
 }

 .left-icon i{
   color: #2F4F4F;
   display: inline-flex;
   margin-top: 10px;
   height: 30px;
   width: 190px;
   line-height: 30px;
}

.left-icon i:hover {
  background-color: #FBFCFC;
  cursor: pointer;
}

.left-icon i:active {
  color: blue;
  cursor: pointer;
}

.left-icon p {
  font-weight: bold;
  margin-top: 20px;
  color: #515755;
  width: 170px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  border-width:5px;
  border-bottom-style:double;
  margin-bottom: 10px;
}

 .right-side {
  background-color: white;
  width: 350px;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-right: 5px;
 }

 .right-side > h4 {
   padding-left: 20px;
 }

/* small fa fa logo */
 .right-side > i {
  /* display: inline-flex; */
  color: #33A3FF;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  /* margin-left: 1em; */
  /* text-indent: -3em; */
 }
/* text */
 .right-side > a {
   /* padding-left: 20px; */
   /* margin-left: 2px; */
   /* text-indent: -1em; */
 }


 h2 > i {
  color: black;
  font-size: 12px;
  margin: 5px;
 }

 i {
  color: #8abd53;
  font-size: 16px;
 }

 .new-post-form {
   position: relative;
   background-color: white;
   width: 620px;
   height: 210px;
   margin-top: 10px;
   border-radius: 4px;
   border: 1px solid #dfe1e5;
 }

  .new-post-form textarea {
    position: relative;
    width: 95%;
    height: 50%;
    resize: none;
    font-size: 22px;
    margin-left: 5px;
    padding: 10px;
    padding-top: 15px;
    border-bottom-style: double;
    border: 1px solid #dfe1e5;
    margin-bottom: 2px;
  }

  .new-post-form > h2 {
    font-size: 16px;
    padding: 5px;
    padding-bottom: 1px;
  }

  .new-post-form img {
    top: 49px;
    left: 8px;
    border: 1px solid #dfe1e5;
  }

  #post-img-preview {
    position: absolute;
    max-height: 100px;
    max-width: 100px;
    left: 500px;
  }

  .single-post {
    background-color: white;
    height: auto;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #dfe1e5;
    font-size: 24px;
    overflow: hidden;
  }

  .single-post > ul {
    margin-bottom: 5px;
    padding-left: 10px;
  }

  .user{
    color: #365899;
    font-size: 22px;
    font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
  }

  .user > i {
   color: gray;
   font-size: 50px;
   margin-bottom: 10px;
  }

  .user-link{
    color: white;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
    margin-right: 50px;
    min-width: 100px;
  }

  .user-link > i {
   color: white;
   font-size: 22px;
  }


  .like-comment-share {
    border-top: 1px solid #dfe1e5;
    margin-top: 30px;
    padding-top: 15px;
 }

  .like-comment-share > i{
    color: #797D7F;
    display: inline-flex;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 160px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
 }

 .like-comment-share > i:hover {
   background-color: #CACFD2;
   cursor: pointer;
 }

 .like-comment-share > i:active {
   color: blue;
   cursor: pointer;
 }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-color: #3b5998;
    height: 50px;
    padding-bottom: 15px;
    color: white;
    z-index: 9999;
  }

  .MainPage-body {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }

  .MainPage-content {
    margin-right: 10px;
    /* margin-left: 10px; */
  }

  .MainPage-nav {
    /* position: fixed; */
    /* flex-grow: 0; */
    /* width: 300px; */
    /* min-width: 300px; */
    /* order: -1; */
    font-size: 15px;
    background-color: #edf0f5;
  }

  /* .MainPage-ads { */
    /* position: fixed; */
    /* flex-grow: 0; */
    /* left: 980px; */
    /* width: 300px; */
    /* max-width: 300px; */
    /* font-size: 15px;
    background-color: #edf0f5;; */
  /* } */

  #id-photo img{
    position: relative;
    background-color: red;
    top: 220px;
    left: 60px;
    width: 180px;
    height: 180px;
    z-index: 1;

  }

  .cover-imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1027px;
    height: 450px;
    border: 1px solid #A2A3A3;
    background-color: white;
  }

  .cover-imgs img {
    width: 1027px;
    height: 380px;
  }

  .cover-imgs h4 {
    position: relative;
    top: -240px;
    left: 240px;
    width: 400px;
    font-size: 34px;
  }

  #profile-imgs {
    position: relative;
    width: 200px;
    height: 200px;
    top: -155px;
    left: 20px;
    border: 1px solid #A2A3A3;
  }


  .profile-body {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
    height: 200px;
  }

  .user-info {
    background-color: white;
    height: 300px;
    min-width: 365px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid #dfe1e5;
    font-size: 24px;
    overflow: hidden;
    font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
  }

  .user-info > label {
    display: inline-flex;
    margin: 10px;
    font-size: 30px;
  }

  .user-info > p {
    margin: 10px;
    font-size: 20px;
    color: #515755;
  }

  .user-icon > i {
    color: #4267b2;
  }

  .search-results {
    width: 498px;
    position: absolute;
    z-index: 9;
  }

  .search-result-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    padding: 5px 0 5px 8px;
    z-index: 9;
  }

  .fa-user-circle {
    margin-right: 5px;
  }

  .nav-bar {
    display: flex;
    margin: 0 auto;
  }
