/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
 }

 img {
  width: 400px;
 }

 html {
  background-color: #edf0f5;
 }

 article {
  display: block;
  background-color: white;
  width: 30%;
  position: relative;
  left: 500px;
  padding: 10px 40px;
 }


 textarea {
   border: 1px dashed black;
   height: 80px;
   width: 400px;
   resize: none;
   position: relative;
   box-sizing: border-box;
   padding: 10px;
   padding-top: 15px;
   font-size: 14px;
 }


 #bb-header {
   background-color: #3b5998;
   height: 80px;
   color: white;
   border-bottom: 1px solid black;
 }

 #bb-header h1 {
   position: relative;
   top: 25px;
   font-size: 40px;
   margin-left: 120px;
   text-decoration: none;
 }

 #bb-header input {
   border: 1px solid black;
   width: 150px;
   height: 24px;
   padding: 0 5px;
   margin: 0px;
   margin-right: 10px;
   margin-top: 3px;
 }

 #bb-header label {
   margin-right: 2px;
   font-weight: bold;
   display: flex;
   flex-direction: column;
 }

 #bb-login {
  position: flex;
  top: 10px;
  right: 50px;
  display: block;
  float: right;
  background-color: inherit;
 }

 #bb-login label {
   top: 20px;
   color: white;
   font-size: 18px;
 }


 #bb-login input {
   font-size: 14px;
   color: black;
   background-color: white;
   height: 20px;
   margin-right: 10px;
   margin-left: 5px;
 }

 #left-side-login {
   float: left;
   font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
   background-color: transparent;
   width: 55%;
   color: black;
   min-height: 500px;
 }

 #left-side-login h2{
   font-size: 26px;
   display: inline-block;
   color: black;
   margin: 60px 130px;
 }

 #left-side-login ul{
   font-size: 18px;
   display: inline-block;
   color: black;
   margin: 30px 90px;
 }

 #left-side-login li{
   padding-bottom: 40px;
 }

 #right-side-login {
   float: right;
   background-color: transparent;
   width: 45%;
   color: white;
   min-height: 500px;
   padding-top: 20px;
 }

 #footer {
   clear: both;
   color: #1E90FF;
   background-color: white;
   text-align: center;
   padding-top: 50px;
   min-height: 200px;
 }

 .login-form {
   position: relative;
   right: 50px;
   top : 10px;
   background-color: red;
 }

 .login-button {
   color: white;
   background-color: #4267b2;
   border: 1px solid #2a477b;
   padding: 4px 7px;
   height: 20px;
 }

 .logout-button {
   color: white;
   background-color: #4267b2;
   border: 1px solid #2a477b;
   padding: 4px 7px;
   height: 20px;
 }

 .login-button:hover {
   background-color: #2a477b;
   cursor: pointer;
 }

 .logout-button:hover {
   background-color: #2a477b;
   cursor: pointer;
 }

 #a_signup_form {
   margin-top: 10px;
   color: black;
   background-color: transparent;
   font-size: 26px;
   font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
   letter-spacing: normal;
   text-rendering: optimizelegibility;
 }

 #a_signup_form h4{
   margin-top: 10px;
   color: black;
   font-size: 18px;
   font-family: 'Freight Sans', Helvetica, Arial, sans-serif;

 }

 #a_signup_form input {
   display: inline-block;
   font-size: 18px;
   border-color: #BDC7D8;
   border-radius: 5px;
   border: 1px solid black;
   width: 50%;
   height: 30px;
   padding: 0 5px;
   margin: 10px;
   margin-right: 10px;
   margin-top: 3px;
 }

 #signup-button {
   font-size: 22px;
   height: 30px;
   min-width: 150px;
   padding: 7px 20px;
   text-align: center;
   background-color: #69A74E;
   box-shadow: inset 0 1px #A4E388;
   border-color: #3B6E22;
   border-radius: 5px;
   color: #FFF;
   cursor: pointer;
   display: inline-block;
   border: 1px solid black;
   margin-top: 10px;
 }

 .gender-selector {
   width: 30px;
   height: 30px;
 }
